.navbar {
    padding: 2rem;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    /* background: var(--lightGrey) !important; */
}

.navbar .nav-brand, 
.navbar .nav-list, 
.navbar .nav-icons,
.navbar .toggle {
    margin: auto;
}
/* Nav brand */
.navbar .nav-brand {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    /* margin-left: 1.5rem; */
    letter-spacing: var(--mainSpacing);
}

/* .navbar .nav-brand a h2 span { color: var(--red) } */

/* Nav list */
.navbar .nav-list {
    grid-column: 2/12;
    text-transform: capitalize;
}
.navbar .nav-list ul a {
    padding: 0 2rem;
    letter-spacing: var(--mainSpacing);
}
/* Nav toggle */
.navbar .toggle { display: none; }

/* Nav icons button */
.navbar .nav-icons {
    grid-template-columns: 1fr;
    grid-column: 12/13;
    height: 35px;
    width: 100%;
}

.navbar .nav-icons img {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 100%;
    border: 2px solid var(--red);
    cursor: pointer;
}

.navbar .nav-icons .online { border: 2px solid green; }

/* max-width: 991px */
@media (max-width: 1023px) {
    .navbar { padding: 1rem 2rem; }
    .navbar .nav-brand { padding: .5em 0; }

    .navbar .toggle { padding: 2rem 0; }

    /* Nav brand */
    .navbar .nav-brand { 
        grid-column: 1/10; 
        margin-left: 0;
    }

    .navbar .nav-list,
    .navbar .nav-icons { 
        display: none;
    }

    /* Nav list */
    .navbar .nav-list-mobile {
        display: grid;
        grid-column: 1/14;
        grid-row: 2;
        margin: .5rem 0 0;
        color: var(--darkGrey);
    }

    .navbar .nav-list-mobile ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 1rem;
    }

    .navbar .nav-list ul a {
        padding: .5rem 1.25rem !important;
        letter-spacing: var(--mainSpacing);
    }

    /* Nav toggle */
    .navbar .toggle {
        display: grid;
        grid-column: 13;
        font-size: 1.25rem;
        cursor: pointer;
    }
}