*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainWhite: #f1f5f8;
  --white: #fff;
  --red: #e73a3a;
  --yellow: #ffc107;
  --orange: #fe8c39;
  --darkGrey: #333;
  --lightGrey: #e2dddd;
  --mainGreen: #29ca8e;
  --mainSpacing: 0.1rem;
  --wordSpacing: 0.25rem;
  --mainTransition: all 2s ease-in-out;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}

.App {
  overflow: hidden;
  font-family: "Recursive", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.white {
  background: var(--white) !important;
  color: var(--darkGrey) !important;
}

body {
  background: var(--lightGrey);
  line-height: 1.8rem;
}

.skeyArt {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.content {
  text-align: initial !important;
  font-family: inherit !important;
  font-size: 16px !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  color: #7b8697;
}

.react-accordion-collapsible-container {
  margin: 0 !important;
}
.react-accordion-collapsible-title-container {
  padding: 15px !important;
}

@media (max-width: 768px) {
  .ethLogo {
    display: none !important;
  }
}
